<nz-layout class="app-layout">
	<nz-header>
		<div class="logo">MyApp</div>
		<ul nz-menu nzTheme="dark" nzMode="horizontal" class="menu">
			<li nz-menu-item *ngIf="!auth.isLoggedIn()" routerLink="/login">
				Login
			</li>

			<li *ngIf="auth.isLoggedIn()" nz-submenu [nzTitle]="userTpl">
				<ng-template #userTpl>
					<span>
						<i nz-icon nzType="user"></i> {{email}}
					</span>
				</ng-template>
				<ul>
					<li nz-menu-item (click)="logout()">
						<i nz-icon nzType="logout"></i> Logout
					</li>
				</ul>
			</li>
		</ul>
	</nz-header>
	<nz-content>
		<div class="inner-content">
			<router-outlet></router-outlet>
		</div>
	</nz-content>
</nz-layout>